//HEADER
.header.dark {
  border-bottom: 2px solid $celeste-3;
}

//FOOTER
footer.dark {
  background-color: $celeste-3;
}

//MAIN
.home.dark,
.project.dark,
.instructions.dark {
  background-image: url("../../public/background-dark.png");
  .titulo {
    color: $celeste;
  }
  .progress-list {
    .month-name {
      color: $celeste;
    }
  }
  .prog-table-item {
    .plm:hover {
      color: $blanco;
    }
  }
  .project-title {
    color: $celeste;
  }
    .seccion {
      color: $celeste;
    }
}
