//HEADER
.header.dark {
    background-color: $celeste;
    color: $violeta-2;

    .logo {
        color: $celeste;
    }

    .switch-container {
        svg {
            color: $violeta;
        }
    }
}

//FOOTER
footer.dark {
    background-color: $celeste;

    .texto-footer {
        color: $violeta-2;
    }
}

//MAIN
body.dark {
    background-image: url("https://raw.githubusercontent.com/nicolasgarin/json/main/background-dark.png");
}
