//SECTIONS

body {
  background-image: url("https://raw.githubusercontent.com/nicolasgarin/json/main/background.png");
}
header {
  background-color: $violeta-4;
  border-bottom: 1px solid black;
  padding: 20px 0;

  .logo {
    margin-right: 15px;
  }

  .color-1 {
    color: $celeste;
  }

  .color-2 {
    color: $celeste-3;
  }
}

footer {
  background-color: $violeta-4;
  padding: 30px 0;
  .texto-footer {
    color: $gris-claro;
    font-weight: 500;
  }
  .section-icons {
    display: flex;
    gap: 20px;
    .ficon {
      height: 24px;
      width: 24px;
      fill: $gris-claro;
      &:hover {
        fill: $blanco;
      }
    }
  }
}

.main {
  padding: 20px 0;

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .card-container {
    .row {
      width: 100%;
    }
  }

  .message {
    color: $celeste-3;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .prog-table-item {
    color: $celeste-3;
    font-weight: 500;
    font-size: 18px;

    .link-fila {
      text-decoration: none;
      color: unset;
    }
    .nombre-fila {
      padding: 2px 5px;
      margin-right: 15px;
      position: relative;
    }

    .nombre-fila:hover {
      color: $blanco;
    }

    .nombre-fila::before {
      transform: scaleX(0);
      transform-origin: bottom right;
    }

    .nombre-fila:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    .nombre-fila::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      inset: 0 0 0 0;
      background: $celeste-2;
      z-index: -1;
      transition: transform 0.3s ease;
    }
  }

  .nombre-fila {
    width: 150px;
    margin-bottom: 5px;
    margin-right: 15px;
    .tabla-dias {
      gap: 2px;
    }
  }

  .num {
    background-color: $violeta-3;
    color: $gris-claro;
    font-weight: 600;
  }

  .letra {
    background-color: $celeste-3;
    color: $gris-claro;
    font-weight: 600;
  }
}

.project {
  .form-nueva-subcat {
    color: $violeta-2;
    padding: 10px 0;

    .container {
      gap: 10px;

      .input-form {
        border-radius: 6px;
      }
    }
  }
  .section-celdas {
    margin-top: 30px;
  }
  h2 {
    margin-bottom: 0;
    margin-left: 20px;
  }
  .subcat-list {
    height: 374px;
    margin: 20px 0;
    padding-bottom: 15px;
    gap: 50px;
    overflow-x: scroll;
    .section-info {
      width: 200px;
      background-color: $gris-claro;
      padding: 15px;
      border-radius: 8px;
    }
  }
}

.tab-section {
  width: 500px;
  margin-left: auto;
  .nav-tabs {
    margin-left: auto;
  }
  .tab-content {
    height: 100%;
    background-color: $violeta;
    padding: 15px;
    border-radius: 8px;
  }
}
.completed-subp {
}
