//SECTIONS

.home,
.project,
.instructions {
  background-image: url("../../public/background.png");
}
.header {
  background-color: $violeta-4;
  border-bottom: 2px solid $violeta-4;
  padding: 20px 0;
  .logo {
    margin-right: 15px;
  }
  .color-1 {
    color: $celeste;
  }
  .color-2 {
    color: $celeste-3;
  }
  .options {
    gap: 30px;
    .qmark {
      height: 28px;
      width: 28px;
    }
    .logo-cont {
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background-color: $celeste;
    }
    .lang-logo {
      height: 25px;
      width: 25px;
      &:hover {
        cursor: pointer;
      }
    }
    .switch-container {
      gap: 5px;
      svg {
        color: $celeste-2;
      }
      .switch {
        position: relative;
        display: inline-block;
        right: 0px;
        width: 60px;
        height: 34px;
      }
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $celeste;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $violeta-2;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
      input:checked + .slider {
        background-color: $celeste;
      }
      input:focus + .slider {
        box-shadow: 0 0 1px $celeste;
      }
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      .slider.round {
        border-radius: 34px;
      }
      .slider.round:before {
        border-radius: 50%;
      }
    }
  }
}

footer {
  background-color: $violeta-4;
  padding: 30px 0;
  .texto-footer {
    color: $gris-claro;
    font-weight: 500;
  }
  .section-icons {
    display: flex;
    gap: 20px;
    .ficon {
      height: 24px;
      width: 24px;
      fill: $gris-claro;
      &:hover {
        fill: $blanco;
      }
    }
  }
}

.main {
  padding: 20px 0;
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .card-container {
    .row {
      width: 100%;
    }
  }
  .message {
    color: $celeste-3;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .prog-table-item {
    color: $celeste-3;
    font-weight: 500;
    font-size: 18px;
    .link-fila {
      text-decoration: none;
      color: unset;
    }
    .nombre-fila {
      padding: 2px 5px;
      margin-right: 15px;
      position: relative;
    }
    .plm:hover {
      color: $violeta-2;
    }
    .nombre-fila::before {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
    .nombre-fila:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    .nombre-fila::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      inset: 0 0 0 0;
      background: $celeste-2;
      z-index: -1;
      transition: transform 0.3s ease;
    }
  }
  .nombre-fila {
    width: 150px;
    margin-bottom: 5px;
    margin-right: 15px;
    .tabla-dias {
      gap: 2px;
    }
  }
  .num {
    background-color: $violeta-3;
    color: $gris-claro;
    font-weight: 600;
  }
  .letra {
    background-color: $celeste-3;
    color: $gris-claro;
    font-weight: 600;
  }
}

.project {
  .form-nueva-subcat {
    color: $violeta-2;
    padding: 10px 0;
    .container {
      gap: 10px;
      .form-label {
        margin-bottom: 0;
      }
      .input-form {
        border-radius: 6px;
      }
    }
  }
  .section-celdas {
    margin-top: 30px;
  }
  h2 {
    margin-bottom: 0;
    margin-left: 20px;
  }
  .project-title {
    color: $violeta-3;
  }
  .subcat-list {
    height: 414px;
    margin: 20px 0;
    padding-bottom: 15px;
    .subcats {
      margin-top: 40px;
      width: 100% !important;
      gap: 30px;
      overflow-x: scroll;
      flex-wrap: nowrap;
      padding-bottom: 40px;
      .subcat {
        width: 200px;
        height: 100%;
        background-color: $celeste-3;
        padding: 15px;
        border-radius: 8px;
        color: $violeta-4;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        .fila-1 {
          border-bottom: 2px solid $violeta-3;
          padding-bottom: 15px;
        }
        .fila-2 {
          .celda {
            .check-ic {
              color: $violeta-3;
              display: none;
            }
            &.check-1,
            &.check-2,
            &.check-3,
            &.check-4 {
              .check-ic {
                display: block;
              }
            }
          }
        }
        .subcat-name {
          font-size: 19px;
        }
      }
    }
  }
}

.tab-section {
  margin-left: 50px;
  margin-bottom: 40px;
  .nav-tabs {
    margin-left: auto;
    display: flex;
    gap: 1px;
    .nav-item {
      .nav-link {
        background-color: $celeste-2;
        color: $violeta-3;
        border: none;
        &.active {
          background-color: $violeta-3;
          color: $celeste;
          font-weight: 600;
        }
        &:not(.active):hover {
          color: $blanco;
        }
      }
    }
  }
  .tab-content {
    width: 500px;
    height: 297px;
    background-color: $violeta-3;
    border-end-end-radius: 8px;
    border-end-start-radius: 8px;
    border-start-start-radius: 8px;
    .tab-pane {
      height: inherit;
      .msj {
        height: 100%;
        color: $celeste;
      }
    }
  }
}
.completed-subp {
  height: inherit;
  padding: 15px 0 15px 15px;
  .filas {
    height: 267px;
    gap: 15px;
    overflow-y: scroll;
    padding-right: 15px;
    .fila {
      .nombre {
        width: 170px;
        color: $celeste-2;
      }
      .info {
        gap: 10px;
        color: $celeste;
        .d-flex {
          gap: 5px;
        }
      }
      .btn {
        svg {
          fill: $celeste-4;
        }
        &:hover {
          svg {
            fill: $blanco;
          }
        }
      }
    }
  }
}

.logros-tab {
  height: inherit;
  .logros-container {
    height: 257px;
    padding: 0 0 15px 15px;
  }
  .logros {
    row-gap: 15px;
    height: 257px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    overflow-y: scroll;
    --bs-gutter-x: 0 !important;
  }
  .logros-form {
    height: 40px;
    width: 100%;
    padding: 0 15px;
    background-color: $celeste-2;
    border-end-end-radius: 8px;
    border-bottom-left-radius: 8px;
    form {
      width: 100%;
      input {
        border-radius: 4px;
      }
      .btn {
        height: 30px;
        padding: 0 10px;
      }
    }
  }
}

.stats-tab {
  padding: 15px;
  .content {
    gap: 30px;
    color: $celeste;
    .subsect {
      margin-bottom: 20px;
      .subtitulo {
        font-size: 18px;
        margin-bottom: 10px;
        border-bottom: 2px solid $celeste;
      }
    }
    .section-1 {
      width: -webkit-fill-available;
    }
    .section-2 {
      .total {
        margin-bottom: 15px;
      }
    }
  }
}

.instructions {
  .seccion {
    margin-bottom: 40px;
    color: $violeta-3;
  }
}