//SECTIONS

body {
  background-image: url("https://raw.githubusercontent.com/nicolasgarin/json/main/background.png");
}
header {
  background-color: $violeta-4;
  border-bottom: 1px solid black;
  padding: 20px 0;

  .logo {
    margin-right: 15px;
  }

  .color-1 {
    color: $celeste;
  }

  .color-2 {
    color: $celeste-3;
  }
}

footer {
  background-color: $violeta-4;
  padding: 30px 0;
  .texto-footer {
    color: $gris-claro;
    font-weight: 500;
  }
  .section-icons {
    display: flex;
    gap: 20px;
    .ficon {
      height: 24px;
      width: 24px;
      fill: $gris-claro;
      &:hover {
        fill: $blanco;
      }
    }
  }
}

.main {
  padding: 20px 0;

  .card-container {
    .row {
      width: 100%;
    }
  }

  .message {
    color: $celeste-3;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .prog-table-item {
    color: $celeste-3;
    font-weight: 500;
    font-size: 18px;
  }

  .nombre-fila {
    width: 150px;
    margin-bottom: 5px;
    .tabla-dias {
      gap: 2px;
    }
  }

  .fila-card {
    gap: 30px;
  }

  .num {
    background-color: $violeta-3;
    color: $gris-claro;
    font-weight: 600;
  }
}

.project {
  .form-nueva-subcat {
    color: $violeta-2;
    padding: 10px 0;

    .container {
      gap: 10px;

      .input-form {
        border-radius: 6px;
      }
    }
  }
  .section-celdas {
    margin-top: 30px;
  }
}
