//GLOBALES

$background-color: #fee2e2;

//PALETA DE COLORES
$blanco: #ffff;
$negro: #1d1d1d;
$gris-claro: #dad6ca;

$celeste: #1bb0ce;
$celeste-dark: #1a97b0;
$celeste-2: #4f8699;
$celeste-2-dark: #3e6876;

$violeta :#6a5e72;
$violeta-2: #563444;
$violeta-2-dark: #452f39;

$verde: #94C973;
$verde-2: #76B947;
$verde-3: #457146;

$amarillo: #faf87a;
$rojo: #df7373;
$rojo-2: #a84848;

//TAMAÑO

h2 {
    font-size: 1.5rem !important;
}

h3 {
    font-size: 1.25rem !important;
}
